// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
	.card {
		width: 20rem !important;
	}
	.card-img-top {
		min-height: 11.1797rem !important;
	}
}

.card {
	width: 26rem;
	cursor: pointer;
}

.card-img-top {
	min-height: 14.5547rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
