<div class="text-center" *ngIf="loadingEventForEdit">
	<div class="spinner-border ms-2" role="status">
		<span class="visually-hidden">Carregando...</span>
	</div>
</div>

<div *ngIf="!loadingEventForEdit" class="mb-3" [@fadeInOut]>
	<div class="action-icon-event mb-3" *ngIf="editing && !editingEventNotFound" routerLink="/dashboard/events/{{ editingEvent.id }}">
		<i class="bi-chevron-left"></i>&nbsp;
		Voltar ao evento
	</div>
	<div class="action-icon-event mb-3" *ngIf="editing && editingEventNotFound" routerLink="/dashboard/events">
		<i class="bi-chevron-left"></i>&nbsp;
		Voltar aos meus eventos
	</div>
	<p class="text-center" *ngIf="editing && editingEventNotFound">
		<i class="bi-x-circle-fill"></i>&nbsp;&nbsp;
		Evento indisponível ou não encontrado para edição
	</p>
	<div *ngIf="!editingEventNotFound">
		<h1 class="display-6 mb-4">{{ editing ? ('Editar ' + editingEvent.name) : 'Criar evento' }}</h1>
		<form [formGroup]="eventForm" (ngSubmit)="onSubmitForm()">
			<fieldset [disabled]="loadingFormSubmit">
				<div class="mb-3">
					<label for="bannerFile" class="form-label">Banner</label>
					<input class="form-control" type="file" id="bannerFile" accept="image/*" (change)="bannerFileChange($event)"
						[ngClass]="{ 'is-valid': getField('bannerFile').valid, 'is-invalid': getField('bannerFile').invalid && getField('bannerFile').touched }">
					<div class="invalid-feedback">
						Imagem com até 3MB de tamanho
					</div>
					<small class="text-muted" *ngIf="editing">
						<i class="bi-exclamation-circle"></i>
						Deixe o banner vazio para que ele não seja alterado
					</small>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xxl-9 mb-3">
						<label for="name" class="form-label">Nome</label>
						<input type="text" class="form-control" autocomplete="off" id="name" formControlName="name"
							[ngClass]="{ 'is-valid': getField('name').valid, 'is-invalid': getField('name').invalid && getField('name').touched }">
						<div class="invalid-feedback">
							Obrigatório e mínimo de 5 caracteres
						</div>
					</div>
					<div class="col col-sm-6 col-md-5 col-lg-4 col-xxl-3 mb-3">
						<label for="date" class="form-label">Data</label>
						<input type="datetime-local" id="date" class="form-control" formControlName="date"
							[ngClass]="{ 'is-valid': getField('date').valid, 'is-invalid': getField('date').invalid && getField('date').touched }">
						<div class="invalid-feedback" *ngIf="getField('date').errors?.['required']">
							Preencha corretamente a data de início do evento
						</div>
						<div class="invalid-feedback" *ngIf="getField('date').errors?.['backInTime']">
							A data e hora de início não podem ser menores que a data e hora atuais
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Descrição</label>
					<div appEditor (editorChange)="getField('description')?.setValue($event)" (editorReady)="editor = $event" [data]="getField('description')?.value"></div>
					<div class="invalid-feedback" [ngClass]="{ 'show': getField('description').invalid && getField('description').touched }">
						Preencha a descrição
					</div>
				</div>
				<div class="d-flex align-items-center justify-content-end">
					<div class="form-check form-switch me-3">
						<input class="form-check-input" type="checkbox" role="switch" id="acceptingParticipants" formControlName="acceptingParticipants">
						<label class="form-check-label" for="acceptingParticipants">Aceitando participações</label>
					</div>
					<button type="submit" class="btn btn-primary">
						<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loadingFormSubmit"></span>
						{{ loadingFormSubmit ? (editing ? 'Editando' : 'Criando') : (editing ? 'Editar' : 'Criar') }}
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<app-modal modalType="error" [showModalEmitter]="showModalEmitter" [errorMessage]="submitFormErrorMessage"></app-modal>