.list-group-item {
	padding: 0.5rem 0;
}

.person-name {
	padding-right: 0.625rem;
	overflow-wrap: anywhere;
}

.person-date {
	white-space: nowrap;
}

.action-icon-event {
	display: inline;
	padding-left: 0;
}
