<div class="container mb-5">
	<div class="row justify-content-center">
		<div class="spinner-border" role="status" *ngIf="loadingEvent">
			<span class="visually-hidden">Loading...</span>
		</div>
		<p class="text-center" *ngIf="!loadingEvent && !event">Evento indisponível ou não encontrado.</p>
		<div class="col-md-10 col-lg-12" *ngIf="!loadingEvent && event && downloadLogoURL">
			<div class="card">
				<div class="row g-0">
					<div class="col-lg-6 d-flex">
						<img class="img-fluid w-100" [src]="downloadLogoURL" alt="event banner">
					</div>
					<div class="col-lg-6">
						<div class="card-body">
							<h5 class="card-title">{{ event.name }}</h5>
							<h6 class="card-subtitle mb-4 text-muted" *ngIf="event.start">
								{{ event.start.seconds * 1000 | date:'EEEE - dd/MM/yyyy HH:mm' | titlecase }}
							</h6>

							<p class="card-text mb-4">{{ event.description }}</p>

							<div *ngIf="event.lineUp">
								<h6>Line Up</h6>
								<ul id="ul-line-up">
									<li *ngFor="let dj of event.lineUp">
										{{ dj }}
									</li>
								</ul>
							</div>
						</div>

						<div class="card-footer text-end">
							<i class="bi-box-arrow-up-right action-icon-event" (click)="openEvent()" appTooltip
								data-bs-toggle="tooltip" data-bs-placement="top" title="Abrir evento"></i>
							<i class="bi-clipboard action-icon-event ms-3" appTooltip [tooltipEventShow]="tooltipEventShow"
								[ngClass]="{ 'bi-clipboard': !eventUrlCopied, 'bi-clipboard-check': eventUrlCopied }"
								(click)="copyEventUrl()" data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-trigger="manual" title="URL copiada!"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>