<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand-sm">
	<div class="container-fluid">
		<a class="navbar-brand">Leet</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/dashboard">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/dashboard/create-event">Criar evento</a>
				</li>
			</ul>
			<ul class="navbar-nav" *ngIf="auth.user | async as user">
				<li class="nav-item">
					<button class="btn btn-outline-dark" (click)="logout()">Logout</button>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-sm mt-5">
	<router-outlet></router-outlet>
</div>