<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm">
	<div class="container-fluid">
		<a class="navbar-brand mb-0 h1">Leet</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/dashboard/events">Meus eventos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/dashboard/events/create">Criar evento</a>
				</li>
			</ul>
			<ul class="navbar-nav" *ngIf="auth.user | async as user">
				<li class="nav-item">
					<span class="navbar-text me-2">
						{{ user.displayName }}
					</span>
					<button class="btn btn-outline-light" (click)="logout()">Sair</button>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-md mt-5">
	<router-outlet></router-outlet>
</div>