@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

router-outlet + * {
	display: block; /* Change display inline to block */
	animation: fade 0.2s;
}

.action-icon-event {
	cursor: pointer;
	color: black !important;
}

.action-icon-event:hover {
	color: dimgrey !important;
}

// Quill Editor
.ql-editor.ql-classes {
	line-height: unset;
	overflow: unset;
	padding: 0;
	height: unset;
}

.ql-container {
	height: 18.75rem !important;
}

.ql-editor[contenteditable="false"] {
	background-color: #e9ecef;
}
