<div class="container-lg mt-4 mb-4">
	<div class="row justify-content-center">
		<div class="spinner-border" role="status" *ngIf="loadingEvent">
			<span class="visually-hidden">Loading...</span>
		</div>
		<p class="text-center" *ngIf="!loadingEvent && !event">
			<i class="bi-x-circle-fill"></i>&nbsp;&nbsp;
			Evento indisponível ou não encontrado
		</p>
		<div class="col-md-10 col-lg-12" *ngIf="!loadingEvent && event">
			<div class="card">
				<div class="row g-0">
					<div class="d-flex" *ngIf="downloadLogoURL">
						<img class="img-fluid w-100 rounded-top" [src]="downloadLogoURL" alt="Banner do evento">
					</div>
					<div>
						<div class="card-body">
							<h5 class="card-title">{{ event.name }}</h5>
							<h6 class="card-subtitle mb-4 text-muted" *ngIf="event.date">
								{{ event.date.seconds * 1000 | date:'EEEE - dd/MM/yyyy HH:mm' | titlecase }}
							</h6>
							<p class="card-text ql-editor ql-classes" [innerHtml]="eventDescriptionHtml"></p>
							<hr>
							<div *ngIf="event.acceptingParticipations">
								<h6 class="mb-3" *ngIf="!nameConfirmed">Participar</h6>
								<form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" *ngIf="!nameConfirmed">
									<fieldset [disabled]="loadingSubmit">
										<div class="form-group mb-2">
											<input placeholder="Nome completo" class="form-control"
												formControlName="personName">
										</div>
										<button [disabled]="!inviteForm.valid" type="submit"
											class="btn btn-success w-100">
											<span *ngIf="loadingSubmit" class="spinner-border spinner-border-sm"
												role="status" aria-hidden="true"></span>
											<span *ngIf="!loadingSubmit">Adicionar na lista</span>
										</button>
									</fieldset>
								</form>
								<div [@fadeInOut] *ngIf="nameConfirmed">
									<span class="col-xs-12 me-3">
										<i class="bi bi-person-check-fill"></i>
										Participação confirmada!
									</span>
									<a class="nav-link add-another-person d-sm-inline" (click)="nameConfirmed = false">
										Adicionar outra pessoa
									</a>
								</div>
							</div>
							<div *ngIf="!event.acceptingParticipations">
								<h6 class="mb-0">Lista para o evento encerrada!</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal modalType="error" [showModalEmitter]="showModalEmitter" errorMessage="Tente novamente mais tarde."></app-modal>